{{!-- home page before login --}}
{{!-- PPT page 1 --}}
  {{#if isConnected}}
    <form action="/" method="post">
      <select name="kind">
        <option value="name">Name</option>
        <option value="cuisine">Cuisine</option>
        <option value="distance">distance</option>
      </select>
      <input type="text" name="content">
      <input type="submit" value="search">
    </form>

  {{/if}}
   <br><br>
  {{!-- <div class="foods-wrapper"> --}}
  {{#each foods}}
  {{!-- <div class="food-item"> --}}
      <div class="float-lg-left "> 
      <img src="{{this.imgPath}}" class="img-fluid img-thumbnail" alt="" style="height: 400px; width:400px;">
      <h4>{{this.name}}</h4>
      <h4>{{this.cuisine}}</h4>
      {{#if isConnected}} 
      <a href="/error" class="text-center">More</a>
       {{/if}}  
      {{#unless ../isConnected}}
      <a href="/error" class="text-center">More</a>
      {{/unless}} 
      {{#if ../isConnected}}
      <a href="/foods/{{this._id}}">Details</a>
      <a href="/foods/order/{{this._id}}">I want</a>
      {{/if}}
       {{!-- </div> --}}
      {{!-- <img src="{{}}" --}}
  </div> 
  {{!-- {{else}} --}}
    {{!-- <p>There are no foods yet! :(</p> --}}
   
  {{/each}}
{{!-- </div> --}}