{{#if isConnected}}
  <div class="text-center" style="margin-top:1vh;">
    <form action="/" method="post" >
      <select name="kind" style="height:6vh; max-height:30px;">
        <option value="name">Name</option>
        <option value="cuisine">Cuisine</option>
        {{!-- <option value="distance">distance</option> --}}
      </select>
      <input type="text" name="content" style="border: 1px solid #5E4485; height:6vh; max-height:30px;">
      <input type="submit" value="search" style="height: 6vh; border: 1px solid #5E4485; border-radius:3px; background-color:#5E4485; color:white; max-height:30px;">
    </form>
  </div>
{{/if}}
<br><br>
<div class="container-fluid">
  <div class="row text-left">
  {{#each foods}}
    <div class="col-sm text-center"> 
      <img src="{{this.imgPath}}" class="img-fluid img-thumbnail" style="height: 350px; width:350px; min-width:300px; margin-top:2vh;">
      <h4>Name: &nbsp;{{this.name}}</h4>
      <h4>Cuisine: &nbsp;{{this.cuisine}}</h4>
      {{#if isConnected}} 
      <a href="/error">More</a>
       {{/if}}  
      {{#unless ../isConnected}}
        <div class="text-center details">
          <a href="/error">More</a>
        </div>
      {{/unless}} 
      {{#if ../isConnected}}
        <a href="/foods/{{this._id}}" class="details">Details</a>
        <br><br>
        <a href="/foods/order/{{this._id}}"  class="details">Want</a>
      {{/if}}
  </div>  
  {{/each}}
  </div>
</div>
</div>
