{{!-- list all food profile of the user(user who log in) --}}
{{!-- ppt page 7 --}}
<h3>One user food list</h3>

<div class="foods-wrapper">
  {{#each foods}}
  <div class="food-item">
    <img src="{{this.imgPath}}" alt="{{this.imgName}}">
    <h4>{{this.name}}"</h4>
    <h4>{{this.cuisine}}</h4>
    <h4>{{this.availability}}</h4>
    <h4>{{this._owner}}</h4>
    <a href="/profile/{{this._id}}">Message</a>
    <a href="/profile/edit/{{this._id}}">Edit</a>
    <a href="/profile/delete/{{this._id}}">Delete</a>


      
      {{!-- <img src="{{}}" --}}
  </div>
  {{else}}
    <p>There are no foods yet! :(</p>
  {{/each}}
</div>
