{{!-- detail information about food ordered by someone --}}
{{!-- ppt page 8 --}}
<h3>food is ordered by someone(homeless) test</h3>
<h3>Food order message</h3>

<img src="{{food.imgPath}}" alt="">
<h4>{{food.name}}</h4>
<h4>{{food.cuisine}}</h4>
<h4>{{food.avalibility}}</h4>
<h4>{{food.status}}</h4>
<h4>{{user.username}}</h4>
<h5>{{message.content}}</h5>
